.fuenteadmin{
    font-family: 'Bebas Neue';
}
.formadmin{
    font-family: 'Bebas Neue';
}




@media (max-width: 425px){ 

    .divcambiar{
        margin-top: 20%;
    }

    .formadmin {
        margin-top: 20%;
    }

}


@media (min-width: 768px){ 

    .divcambiar{
        margin-top: 10%;
    }

   .formadmin {
       margin-top: 10%;
   }

}


@media (min-width: 1024px){ 
    
    .divcambiar{
        margin-top: 0%;
    }

    .formadmin {
        margin-top: 0%;
    }
 
 }