html {
	scroll-behavior: smooth;
}

/**
 * Disable smooth scrolling when users have prefers-reduced-motion enabled
 */
 @media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}
body {
	background-color: white;
}

body::-webkit-scrollbar{
	width: 0.5rem;
}

body::-webkit-scrollbar-track{
	background-color:  rgb(255,255,255);
}

body::-webkit-scrollbar-thumb{
	background-color:  #176302;
	border-radius: 10px;
	&:active{
		background-color: #56C434;
	}
}