// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap');


// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'preloader';
@import 'style-barra';
@import 'style-footer';
@import 'content';
@import 'style-footer';
@import 'style-googleForm';
@import 'style-contactForm';
@import 'faqs';
@import 'carrusel';
@import 'ancla';
@import 'admin';
@import 'botonwp';
