.titulocarrusel {
    font-family: 'Bebas Neue', cursive;
    padding: 15px;
    font-size: 1.8rem !important;
    background-color: rgb(23,99,1);
    color: white;
    margin: 0;
}

.carousel .carousel-indicators li {
    width: 12px;
   height: 12px;
   border-radius: 100%;
 }

.carruselindicadores {
    margin-bottom: 25%;
}

 .h3carrusel {
     font-family: 'Source Sans Pro', sans-serif;
     font-size: 151% !important;
     font-weight: bold;
 }

 .bordecarrusel {
    border-top: 2px solid white;
    width: 39%;
    padding-bottom: 2%;
 }

 .parrafocarrusel {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
     padding-bottom: 38%;
 }

 .carruselseparador {
    height: 2vh;
    background-color: rgb(91,194,59);
 }

 .imgcarruseltablet{
     display: none;
 }

 .imgcarruseldesk {
     display: none;
 }

 @media (max-width: 345px) {
     .margenh3carr{
         margin-bottom: 0;
     }
    .carousel-caption {
        bottom: 0px;
    }

    .parrafocarrusel {
        padding-bottom: 18%;
    }

    .carruselindicadores{
        margin-bottom: 10%;
    }
 }


 @media (min-width: 768px) {

    .h3carrusel{
        font-size: 172% !important;
        width: 61%;
        margin: 0 auto;
    }

    .bordecarrusel{
        width: 24%;
    }

    .parrafocarrusel {
        padding-bottom: 10%;
        padding-left: 12%;
        padding-right: 12%;
    }

    .carruselindicadores{
        margin-bottom: 5%;
    }

     .imgcarruselmobile{
         display: none;
     }

     .imgcarruseltablet{
         display: block;
     }

     .imgcarruseldesk {
         display: none;
     }


 }


 @media (min-width: 1024px) {

    .titulocarrusel{
        font-size: 2.2rem;
    }

    .h3carrusel{
        font-size: 250% !important;
        width: 70%;
    }

    .carousel-caption {
       padding-bottom: 5px; 
    }

    .bordecarrusel{
        width: 10%;
    }

    .parrafocarrusel {
        padding-bottom: 13%;
        padding-left: 20%;
        padding-right: 20%;
        font-size: 1.2rem !important;
    }

    .carruselindicadores {
        margin-bottom: 8%;
    }

    .imgcarruselmobile {
        display: none;
    }


    .imgcarruseltablet {
        display: none;
    }

    .imgcarruseldesk {
        display: block;
    }
      
 }

 @media (min-width: 1025px) {
    .h3carrusel{
        font-size: 300% !important;
        width: 70%;
    }

    .parrafocarrusel {
        padding-bottom: 17%;
        font-size: 1.2rem !important;
    }

    .carousel-caption {
        padding-bottom: 0px;
    }

    .carruselindicadores {
        margin-bottom: 10%;
    }
 }


