.animate__backInDown {
    animation-duration: 2s;
}
.animate__backInLeft {
    animation-duration: 3.5s;
}
.contenido {
    margin-top: 15%;
    position: relative;
    width: 100%;
    height: 450px;
}
.boton {
    display: flex;
    justify-content: center;
    padding-top: 110%;
}
.bc1{
    border-radius: 1.25rem;
    width: 140px;
    height: 40px;
    background-color: #57c235;
    transition: color 0.8s linear 0.2s;
}

section img {
    position: absolute;
    width: 100%;
    z-index: -1;
    /* animation-duration: 3s;
    animation-name: slidein; */
}

/* @keyframes slidein {
    from {
      margin-left: 100%;
      width: 200%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  } */

  /* Mobile M 375px */

  @media screen and (min-width: 375px) {
    .contenido {
      margin-top: 16%;
      height: 520px;
    }
  }
  
  /* Mobile L 425px */
  
  @media screen and (min-width: 425px) {
    .contenido {
      margin-top: 16%;
      height: 585px;
    }
  }
/* Tablet 768px */
@media screen and (min-width: 768px) {
    .btn-success {
        padding: 0;
    }
    .boton {
        padding-top: 90%;
    }
    .bc1 {
        width: 200px;
        font-size: 18px;
    }
    .contenido {
    margin-top: 4%;
    height: 825px;
    }
}
/* Laptoo 1024px */
@media screen and (min-width: 1024px) {
    .contenido {
        height: 480px;
    }
    .boton {
        padding-top: 28%;
        padding-left: 5%;
        justify-content: normal;
    }
    .bc1 {
        width: 170px;
    }
}