.divfaqs{
    background-color: white;
}
.card-header{
    background-color: white;
}
.row {
    width: 100% !important;
    margin-left: 0px !important;
}
.container-fluid {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.faqstabletdesk{
    display: none !important;
}
.card {
    padding: 0%;
    border: none;
}
.accordion > .card:not(:last-of-type){
    border: none;
    border-bottom: solid 1px #00000021;
}
.accordion > .card:not(:first-of-type){
    border: none;
    border-bottom: solid 1px #00000021;
}
.accordion>.card:first-of-type{
    border: none;
    border-bottom: solid 1px #00000021;
}
.accordion>.card:not(:first-of-type):not(:last-of-type){
    border: none;
    border-bottom: solid 1px #00000021;
}

/* fix */
.accordion>.card:not(:first-of-type) .card-header:first-child {
     border-radius: 0 !important;
}
.accordion > .card > .card-header {
    border-radius: 0 !important;
    margin-bottom: 0 !important;
}

/* endfix */

.card-header h2 button:hover{
   text-decoration: none;
}

.card-header h2 button h5:hover{
    color: #57c235;
}
.card-header h2 button h5{
    color: brown;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
}
.card-body ul li { 
    font-size: 1.05rem;
    color: brown;
    font-family: 'Source Sans Pro', sans-serif;
}
.card-body p {
    color: brown;
    font-family: 'Source Sans Pro', sans-serif;
}

.iconoflechafaq {
    color: #57c235;
}

.spanfaq {
    color: #57c235;
}

.svgfaq {
    width: 50%;
}

.img {
    height: 22px;
    display: inline;
}
.btn:focus, .btn.focus h5{
    text-decoration: none;
}
.btn:focus, .btn.focus{
    box-shadow: none;
}

button[aria-expanded=true] .fa-angle-right {
    transition: .3s transform ease-in-out;
    transform: rotate(90deg);
}

@media (max-width: 767px){
    .accordion{
        margin: 0;
        padding: 0;
    }
    .card-header h2 button h5{
        font-size: 1rem;
        font-weight: bold;
        font-family: 'Source Sans Pro', sans-serif;
    }
    .img{
        height: 18px;
        margin-right: 2%;
    }
    .card {
        margin-right: 4%;
        margin-left: 4%;
    }
}


@media (min-width: 768px){
    .divfaqs{
        margin-top: 1%;
        margin-bottom: 1%;
    }
    .faqsmobile{
        display: none;
    }
    .faqstabletdesk {
        display: flex !important;
    }
    .img {
        margin-left: -2%;
        padding-right: 2%;
    }
    .panelizq{
        margin-left: 6%;
        margin-right: 4%;
    }
    .panelder {
        margin-right: 6%;
        margin-left: 4%;
    }
    .w-50 {
        width: 40%;
    }
}