 /*----------------------- Preloader -----------------------*/
 body.preloader-site {
    overflow: hidden;
}

.preloader-wrapper {
  background-color:#44d830;
  left:0;
  height:100%;
  position:fixed;
  top:0;
  width:100%;
  z-index:9999;
}

.preloader-wrapper .preloader {
  left:40%;
  position:absolute;
  top:46%;
  width: 70px;
  height: 70px;
  border: 10px solid white;
  border-top: 10px solid #157c08;
  border-radius: 50%;
  animation-name: girar;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@media (min-width: 375px) {
    .preloader-wrapper .preloader {
        left:42%;
      } 
}

@media (min-width: 768px) {
    .preloader-wrapper .preloader {
        left:45%;
      } 
}

@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}