.img-form {
    background-image: url('storage/images/desktop/El Click-Web-Maqueta_Desktop_IMAGEN CONTACTO.png');
    visibility: hidden;
}
.contact-form {
    background-image: url('storage/images/mobile/El-Click-Web-Mobile_FONDO-CONTACTO.jpg');
}
form .col-sm-6 {
    padding-right: 50px;
    padding-left: 50px;
}
form .form-control::placeholder {
    color: green;
    padding-left: 10px;
}
.title {
    font-family: 'Bebas Neue', cursive;
    color: white;
    padding-top: 20px;
    letter-spacing: 1px;
}
.title h2{
    font-size: 2rem;
}
.sub-title {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    margin-bottom: 10px;
}
.sub-title p {
    margin-bottom: 5px;
    font-size: 1rem;
}
.sub-title img {
    height: 25px;
}
#btnEnviar{
    font-size: 1rem;
}
.btn-success {
    background-color:  #56c634 !important;
    margin-bottom: 20px;
    padding: 5px 25px;
    font-weight: bold;
}
.btn-success:hover {
    background-color:  green !important;
}
textarea {
    border-radius: 20px !important;
}

  @media only screen and (min-width: 780px) {
    /* For desktop: */
    .img-form {
        visibility: visible;
        background-size: cover;
    }
    .sub-title {
        width: 482px;
    }
  }