//Estilos Mobile
footer{
    background: url('/storage/images/mobile/El Click-Web-Mobile_FONDO FOOTER.jpg');
    background-color: #56c634;
    padding: 64px 0;
    display: flex !important;
    justify-content: center;
}
.part-footer{
    height: 32px;
    margin: 0 20px 0 20px;
}
.part-footer h3{
    color: white;
    font-family: 'Bebas Neue';
    font-size: 25px;
    letter-spacing: 0.5px;
    margin-top: 0px !important;
}
.social-media{
    margin-bottom: 1px;
}
.social-media a{
    font-size: 25px;
    display: inline-block;
    color: #56c634;
    width: 38px;
    text-align: center;
    margin-right: 5px;
    line-height: 5px;
}
.social-media a:hover{
    color: #ffffff !important;
    transition: 0.5s;
}

//Estilos Tablet
@media only screen and (min-width: 426px) {
   footer {
    background: url('/storage/images/tablet/El Click-Web-Tablet_IMAGEN FOOTER.jpg');
    padding: 86px 0;;
   }
}

//Estilos Escritorio
@media only screen and (min-width: 768px) {
    footer {
        background: url('/storage/images/desktop/El Click-Web-Maqueta_Desktop_FONDO FOOTER.jpg');
        padding: 90px 0;
        background-size: cover;
       }
    .part-footer h3{
        font-size: 28px;
    }
       .social-media a{
        font-size: 28px;
    }   
}

@media only screen and (min-width: 1024px) {
    footer {
        padding: 100px 0;
       }
    .part-footer h3{
        font-size: 32px;
    }   
    .social-media a{
        font-size: 32px;
    }      
}
