//Estilos Mobile
.google-form {
    background-image: url('storage/images/mobile/El-Click-Web-Mobile_FONDO-FORMULARIO.png');
}
.formulario iframe {
    border: none;
    width: 380px;
    height: 1950px;
}

@media only screen and (min-width:320px) {
    .formulario iframe {
        height: 1945px;
    }
}

@media only screen and (min-width:375px) {
    .formulario iframe {
        height: 1840px;
    }
}

.title-form h2 {
    font-family: 'Bebas Neue';
    color: white;
    padding-top: 25px;
    font-size: 25px;
}

.row {
    padding: 0 !important;
}

//Estilos Tablet
@media only screen and (min-width: 426px) {
    .formulario iframe {
        width: 620px;
        height: 1575px;
    }

    .title-form h2 {
        font-size: 2rem;
    }

    .sub-title {
        width: 300px;
    }
 }

 //Estilos Escritorio
@media only screen and (min-width: 769px) {
    .formulario iframe {
        width: 720px;
        height: 1570px;
    }
    .sub-title {
        width: 720px;
    }
    .title-form h2 {
        font-size: 2.1rem;
        margin-right: 10px;
    }
}

