.navbar {
    margin-bottom: 1px !important;
    width: 100% !important;
    position: fixed;
    top: 0;
    z-index: 100;
    transition: ease-in-out 0.5s;
}
.navbar-toggler {
    border: none;
}
.navbar-light .navbar-toggler  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(73, 140, 58, 0.85)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar-light .navbar-text {
    color: #76d458;
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
    letter-spacing: 1px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
}
.nav-link {
    color: #75230D !important;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
}
 a:hover {
    color: #76d458 !important;
 }

//Escritorio 

@media only screen and (min-width: 1440px) {
    .navbar {
        padding-right: 80px;
        padding-left: 66px;
    }
    .navbar-text {
        font-size: 23px !important;
    }
    .navbar-expand-lg .navbar-nav {
        margin-left: auto;
    }
    .nav-link {
        padding: 5px 12px;
    }
} 

@media only screen and (min-width: 1350px) and (max-width: 1439px) {
    .navbar {
        padding-left: 62px;
        padding-right: 56px;
    }
    .navbar-text {
        font-size: 24px !important;
    }
    .navbar-expand-lg .navbar-nav {
        margin-left: auto;
    }
    .nav-link {
        padding: 5px 12px;
        margin-right: 20px;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1349px) {
    .navbar {
        padding-left: 44px;
        padding-right: 60px;
    }
    .navbar-text {
        font-size: 23px !important;
    }
    
    .navbar-nav {
        width: 100%;
    }
    .nav-link {
        padding: 5px 12px;
    }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .navbar-text {
        font-size: 22px !important;
    }
    .navbar {
        padding: 2px 40px !important;
    }
}

//Mobile M
@media only screen and (max-width: 425px) {
    .navbar-text {
        width: 170px;
    }
}

@media only screen and (min-width: 375px) and (max-width: 1023px) {
    .h4barranav{
        margin-right: 10%;
    }
 }

@media only screen and (min-width: 375px) {
    .h3carrusel {
        font-size: 150% !important;
    }
    .parrafocarrusel {
        font-size: 110% !important;
    }
}

//Mobile s
@media only screen and (max-width: 355px) {
    .h4barranav{
        margin-top: 5%;
    }
    .navbar-brand {
        margin-right: 0px;
    }
    .navbar-brand img {
        width: 65px;
        height: 55px;
    }
    .navbar-text {
        font-size: 10px;
    }
  }
